HOMETASK 1


Test 1

Q1: What's string in Python
Answer:A sequence of characters enclosed within single quote(') or double quotes(")

Q2:Is there any difference between 'a' or "a"?
No there isn't

Q3:Is there any difference between 1 and '1'?
Answer:yes, 1 is an integar
'1' is a string

Q4:Python treats single quotes same as double quotes(T/F)
Answer:True

Q5:A string with zero character is called________string
Answer: Empty string

Q6:Python does not support a character type.(T/F)
Answer: True, there is no distinct char type

Q7:'write a code to store following string in a variable named 'str'.  This is Amit's Blog

In [4]:
str='This is Amit\'s Blog'

Q8:Write the output of the following code:
str1:"Welcome to my blog"
str2:"Welcome to my \n Blog"
print(str1)
print(str2)

ANSWER:Welcome to my blog
Welcome to my
Blog

Q9:Write the output of the following.
str1="Welcome \tto my Blog
str2:"Welcome to\n my \tBlog
print(str1)
print(str2)


ANSWER: 
Welcome    to my Blog
Welcome to 
my     Blog

Q10:write the output of the following
str1"""Welcome to my 
blog. 
This is for 
Class X """
print(str1)

ANSWER:
Welcome to my
blog.
This is for
Class X

Test 2

Q1: Write the output of the following code:
a)  str="hello"
print(str[:3])

Answer: hel

b)str='My Blog'
a=''
for i in range(len(str)):
a+=str[i]
print(a)

Answer:My Blog

c)str='MyBlog'
a=''
for i in range(len(str)):
print(i*str[i])

Answer: 
y
BB
llll
OOOOO
gggggg

d)s='My'
s1='Blog'
s2=s[:1]+s1[len(s1)-1:]
print(s2)

Answer: Mg

e)print("My"+'Blog'*2)

ANSWER: MyBlogBlog

f)print("My"*3+"Blog"+'7')

ANSWER:MyMyMyBlog7

g)for i in range(2,7,2):
print(i*'2')

ANSWER:22
2222
222222

h)for i in range(3,12,2):
print("a".upper())

ANSWER:A
A
A
A
A

i)for i in range(3,12,13):
print("a".upper())

ANSWER:A

j)s='Welcome to My Site https://csiplearninghub.com'
print(s.find('come'))
print(s.find('o'))
print(s.find('o',10,20))
print(s.find('o',5,10))

ANSWER:
3
1
11      
8

TEST 3

In [ ]:
str1=''

what does it mean by traversing a string?
ANSWER:
it means accessing each character in the string one by one in order, typically using a loop

what's the index value of first element of a string?

ANSWER:0

What's the index value of last element of a string?

ANSWER: -1

If the length of the string is 10 then what would be the  positive index value of last element?

ANSWER:9

If the length of the string is 9, what would be the  index value of middle element?

ANSWER:4

index value of a string can be in float.(T/F)

ANSWER: FALSE (it must be integer)

what type of error is returned by following statement , if the length of string 'str1'is 10
print(str1[13])

ANSWER:INDEX ERROR

In [ ]:
str1="Hello World"

                          HOMETASK 2.1

In [6]:
full_name=input("Please enter your full name: ")
name_parts = full_name.split()
reversed_name= " ".join(name_parts[::-1])
print(f"Your name in reverse order is: {reversed_name}")

Your name in reverse order is: Chinora Uralova

                          HOMETASK 2.2

In [7]:
if len(full_name.split()) >= 2:
    first_name = full_name.split()[1] 
    print(f"Your first name is: {first_name}")
else:
    print("Please enter both your last name and first name.")

Your first name is: Chinora